.sign__container {
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
}

.sign__content {
  width: 40%;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.sign__button {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 35px;
  width: 100px;
}
