<div class="sign__container">
  <div class="sign__content">
    <h1>Sign Up</h1>
    <form
      [formGroup]="registoryForm"
      (submit)="onSubmit()"
      class="signup__form"
    >
      <mat-form-field class="sign__input" appearance="fill">
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="sign__input" appearance="fill">
        <input matInput placeholder="Name" type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="sign__input" appearance="fill">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="pass"
        />
      </mat-form-field>
      <button mat-flat-button color="accent" class="sign__button">
        Submit
      </button>
    </form>
  </div>
  <div class="sign__content">
    <h1>Sign In</h1>
    <form [formGroup]="loginForm" (submit)="login()" class="signup__form">
      <mat-form-field class="sign__input" appearance="fill">
        <input
          matInput
          placeholder="Email"
          type="text"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="sign__input" appearance="fill">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="pass"
        />
      </mat-form-field>
      <button mat-flat-button color="accent" class="sign__button">
        Submit
      </button>
    </form>
  </div>
</div>
