.card {
  width: 33%;
  background-color: white;
  box-shadow: 0 0 3px rgb(70, 70, 70);
  margin: 30px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  padding: 10px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}
hr {
  margin: 0;
  color: rgb(214, 214, 214);
}

button {
  color: rgb(70, 70, 70);
  background-color: rgb(255, 255, 255);
  border: 0px;
}
