<div class="navbar__container">
  <div class="navbar__icon">
    <img
      class="navbar__main__icon"
      src="../../assets/navbar/main-icon.png"
      alt="icon"
    />
  </div>
  <div class="navbar__navigation">
    <button
      [ngClass]="{
        navbar__button: true,
        navbar__button__active: activeTab === 'dashboard'
      }"
      (click)="changeTab('dashboard')"
    >
      <img
        class="navbar__button__icon"
        src="../../assets/navbar/{{ tabs.dashboard.color }}-dashboard.png"
        alt="icon"
      />
      <div class="navbar__tab__name">Dashboard</div>
    </button>
    <button
      [ngClass]="{
        navbar__button: true,
        navbar__button__active: activeTab === 'analytics'
      }"
      (click)="changeTab('analytics')"
    >
      <img
        class="navbar__button__icon"
        src="../../assets/navbar/{{ tabs.analytics.color }}-analytics.png"
        alt="icon"
      />
      <div class="navbar__tab__name">Analytics</div>
    </button>
    <button
      [ngClass]="{
        navbar__button: true,
        navbar__button__active: activeTab === 'teams'
      }"
      (click)="changeTab('teams')"
    >
      <img
        class="navbar__button__icon"
        src="../../assets/navbar/{{ tabs.teams.color }}-teams.png"
        alt="icon"
      />
      <div class="navbar__tab__name">Teams</div>
    </button>
    <button
      [ngClass]="{
        navbar__button: true,
        navbar__button__active: activeTab === 'documents'
      }"
      (click)="changeTab('documents')"
    >
      <img
        class="navbar__button__icon"
        src="../../assets/navbar/{{ tabs.documents.color }}-documents.png"
        alt="icon"
      />
      <div class="navbar__tab__name">Documents</div>
    </button>
    <button
      [ngClass]="{
        navbar__button: true,
        navbar__button__active: activeTab === 'settings'
      }"
      (click)="changeTab('settings')"
    >
      <img
        class="navbar__button__icon"
        src="../../assets/navbar/{{ tabs.settings.color }}-settings.png"
        alt="icon"
      />
      <div class="navbar__tab__name">Settings</div>
    </button>
  </div>
  <div class="navbar_workspace">My Workspace</div>
</div>
